*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
  display: block;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
